/* navigation bar start*/
.custom-nav a{
  color: #00B4CC;
}
.custom-nav a:hover{
  color:#16c9e1;
}

.custom1-nav{
  background-color: #00B4CC;
}
.custom1-nav a{
  color:white;
}
.custom1-nav:hover{
  background-color: #16c9e1;

}
.custom1-nav a:hover{
  color:white;
}

/* navigation bar end */

  @keyframes slideInLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }

    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .image-slider {
    animation: slideInLeft 1s ease-in-out forwards;
  }

  .image-section {
    text-align: center;
    background-color: #f5f5f5;
  }

  .image-slider {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    /* Center align images */
  }

  .image-slider img {
    max-width: 100%;
    height: auto;
    display: none;
  }

  @keyframes slideInRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }

    to {
      transform: translateX(0);
      opacity: 1;
    }
  }


  .card-img-top {
    object-fit: cover;
  }
  .card-title b {
    color:#00B4CC;
  }
  /* Add more shadow and ensure same height for all cards */
  .card {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    height: 100%;
  }
  .card {
    animation: slideInRight 1s ease-in-out forwards;
  }

  .card {
    margin-bottom: 20px;
  }

  .card-body {
    text-align: center;
  }
hr{
  color: rgb(160, 160, 160);
}
/* footer */
.footer-social li a{
  color:black;
}
  .footer-links li a{
    color:#00B4CC
  }
  /* footer end */
  .about-section {
    background-color: #f1f1f1;
  }

  .about-content {
    text-align: center;
  }

  .services-section {
    background-color: #f5f5f5;
  }

  .services-list {
    list-style: none;
    padding-left: 0;
  }

  .services-list li {
    margin-bottom: 10px;
  }

  #dropdown-menu {
    display: none;
  }

  #dropdown:hover #dropdown-menu {
    display: block;
  }

  #dropdown.active #dropdown-menu {
    display: block;
  }