/* navigation bar start
.custom-nav a{
    color: #00B4CC;
  }
  .custom-nav a:hover{
    color:#16c9e1;
  }
  
  .custom1-nav{
    background-color: #00B4CC;
  }
  .custom1-nav a{
    color:white;
  }
  .custom1-nav:hover{
    background-color: #16c9e1;
  
  }
  .custom1-nav a:hover{
    color:white;
  } */
  
  /* navigation bar end */
  
    @keyframes slideInLeft {
      from {
        transform: translateX(-100%);
        opacity: 0;
      }
  
      to {
        transform: translateX(0);
        opacity: 1;
      }
    }

/* footer */
/* Style the footer links */
/* .footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  text-decoration: none;
  color:#00B4CC;
  transition: color 0.3s ease;
}

/* Change link color on hover */
.footer-links a:hover {
  color:#00B4CC; /* Hovered link color */
}

/* Style the copyright notice */
.footer-copyright {
  background-color: #f8f9fa;
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
  color: #777;
} */
  /*///////////////////////////////////////nurse page///////////////////////////////////////*/
  
.doct .card img{
    border-radius:  300px;
}
.doct .card{
    border: none;
}
.doct .card-title{
    color: #0e2380f8;
    font-size: 23px;
    font-weight:700;
}
        table,
        th,
        td {
            border: 1px solid rgb(172, 150, 150);
            border-collapse: collapse;
            text-align: left;
        }

        table td {
            font-size: 20px;
            font-weight: 400;
        }

        table th {
            font-size: 25px;
        }
        #panel,
        #flip,
        #table2,
        #t2,
        #table3,
        #t3,
        #table4,
        #t4,
        #table5,
        #t5,#table6,
        #t6,#table7,
        #t7,#table8,
        #t8 {
            padding: 5px;
        }
        #flip,
        #table2,
        #table3,
        #table4,
        #table5, #table6,#table7,#table8 {
            background-color: #1d48512a;
        }
        #panel,
        #t2,
        #t3,
        #t4,
        #t5,#t6,#t7,#t8{
            display: none;
        }
        .text-center {
    text-align: center;
  }

  .h1 {
    font-size: 24px;
    font-weight: bold;
  }

  .h6 {
    font-size: 14px;
  }
  @media screen and (max-width: 768px) {
    .h1 {
      font-size: 20px;
    }

    .h6 {
      font-size: 12px;
    }
  }
  @keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.nrs{
    animation: slideInLeft 1s ease-in-out forwards;
}

@keyframes zoomIn {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

/* Apply the animation to the card */
.nurse{
    animation: zoomIn 1s ease-in-out forwards;
}